Repository Simodalstix/Azure-devops-container-apps: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/application-pipeline.yml, .azure-pipelines/infrastructure-pipeline.yml, .azure-pipelines/shared-infrastructure-pipeline.yml

.azure-pipelines/application-pipeline.yml:
  stages:
  - stage: Build
    displayName: Build Application
    jobs:
    - job: BuildApp
      displayName: Build and Push Container
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and push image
        inputs:
          command: buildAndPush
  ...

.azure-pipelines/infrastructure-pipeline.yml:
  stages:
  - stage: Validate
    displayName: Validate & Plan
    jobs:
    - job: TerraformValidate
      displayName: Terraform Validation
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/terraform-setup.yml
      - template: templates/terraform-validate.yml
  - stage: DeployDev
  ...

.azure-pipelines/shared-infrastructure-pipeline.yml:
  stages:
  - stage: ValidateShared
    displayName: Validate Shared Infrastructure
    jobs:
    - job: TerraformValidate
      displayName: Terraform Validation
      pool:
        vmImage: ubuntu-latest
      steps:
      - template: templates/terraform-setup.yml
      - task: TerraformTaskV4@4
  ...

Refactor shared infrastructure and update documentation
  .azure-pipelines/shared-infrastructure-pipeline.yml
  README.md
  SHARED_ARCHITECTURE.md
  ci/Jenkinsfile
  infra/envs/staging/main.tf
  infra/modules/shared/main.tf
  infra/modules/shared/outputs.tf
  infra/modules/shared/variables.tf
  infra/shared-infrastructure/main.tf
  infra/shared-infrastructure/outputs.tf
  infra/shared-infrastructure/terraform.tfvars.example
  infra/shared-infrastructure/variables.tf
Due: .azure-pipelines/infrastructure-pipeline.yml, .azure-pipelines/shared-infrastructure-pipeline.yml

Replace Quick Start guide with Getting Started documentation and update README references
  GETTING_STARTED.md
  QUICK_START.md
  README.md
  SHARED_ARCHITECTURE.md
  docs/azure-icons-list.md
  infra/shared-infrastructure/main.tf
Due: .azure-pipelines/infrastructure-pipeline.yml, .azure-pipelines/shared-infrastructure-pipeline.yml

feat: audit and polish repo for professional presentation
  .azure-pipelines/templates/terraform-validate.yml
  .github/ISSUE_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  ENTERPRISE_FEATURES.md
  LICENSE
  README.md
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/versions.tf
Due: .azure-pipelines/infrastructure-pipeline.yml

fix: replace terraform extension with built-in bash commands
  .azure-pipelines/templates/terraform-setup.yml
  .azure-pipelines/templates/terraform-validate.yml
  README.md
  diagrams/azure-devops-containers-diagram.svg
  infra/envs/prod/main.tf
Due: .azure-pipelines/infrastructure-pipeline.yml

fix: replace all terraform extension tasks with bash commands
  .azure-pipelines/templates/terraform-deploy.yml
  README.md
Due: none

New pipeline to get the CICD badge on Azure DevOps
  .azure-pipelines/validation-pipeline.yml
Due: none

feat: add GitHub Actions workflow for Terraform validation
  .github/workflows/terraform.yml
  README.md
Due: none

fix: resolve terraform validation issues in monitoring module
  infra/envs/prod/main.tf
  infra/envs/staging/main.tf
  infra/modules/monitoring/main.tf
  infra/shared-infrastructure/main.tf
  infra/versions.tf
Due: .azure-pipelines/infrastructure-pipeline.yml, .azure-pipelines/shared-infrastructure-pipeline.yml

fix: correct working directory paths in GitHub Actions workflow
  .github/workflows/terraform.yml
Due: none

debug: add directory listing to troubleshoot path issues
  .github/workflows/terraform.yml
Due: none

fix: use cd commands instead of working-directory in GitHub Actions
  .github/workflows/terraform.yml
Due: none

clean: revert to simple workflow now that dev directory exists
  .github/workflows/terraform.yml
  .gitignore
  infra/envs/dev/main.tf
  infra/envs/dev/outputs.tf
  infra/envs/dev/terraform.tfvars.example
  infra/envs/dev/variables.tf
Due: .azure-pipelines/infrastructure-pipeline.yml

fix: make Checkov non-blocking in CI pipeline
  .github/workflows/terraform.yml
  .gitignore
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/modules/shared/main.tf
Due: .azure-pipelines/infrastructure-pipeline.yml

fix: format terraform files to pass fmt check
  infra/modules/shared/main.tf
Due: .azure-pipelines/infrastructure-pipeline.yml

fix: remove invalid logging block from storage account blob_properties
  infra/modules/shared/main.tf
Due: .azure-pipelines/infrastructure-pipeline.yml

Moving quick start
  README.md
Due: none

Path conditions:
  .azure-pipelines/application-pipeline.yml: any of: src, .azure-pipelines/application-pipeline.yml
  .azure-pipelines/infrastructure-pipeline.yml: any of: infra, .azure-pipelines/infrastructure-pipeline.yml
  .azure-pipelines/shared-infrastructure-pipeline.yml: any of: infra/shared-infrastructure, .azure-pipelines/shared-infrastructure-pipeline.yml
